@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Winky Sans", sans-serif;
}

.navbar {
  width: 100vw;
  height: 15vh;
  background-color: #f7eed3;
  display: flex;
}

.nav-logo {
  width: 15vh;
}

.logo-sign {
  height: 15vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #674636;
}

.nav-links {
  width: 80vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links > .link-element {
  margin-right: 4vw;
  text-decoration: none;
  background-color: #674636;
  color: #f7eed3;
  font-size: 2rem;
  border-radius: 1rem;
}

.nav-links > .link-element > p {
  padding: 0.9rem;
}

.nav-links > .link-element:hover {
  background-color: #aab396;
  color: #f7eed3;
}

.mainBody {
  height: 85vh;
  background-color: #674636;
  display: flex;
}

.sidebar {
  width: 20vw;
  height: 75vh;
  background-color: #f7eed3;
  margin-top: 5vh;
  margin-left: 3vw;
  border-radius: 1rem;
  display: flex;
  align-items: start;
  justify-content: center;
}

.sidebar p {
  margin-top: 3vh;
  color: #674636;
  font-size: 2.5rem;
}

.childrenContainer {
  width: 73vw;
  height: 85vh;
  margin-left: 4vw;
  background-color: #aab396;
}
